[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
pylint-django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
django-username-email = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
pillow = "*"
django-cors-headers = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
